.basket-items-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .basket-item {
    color: white;
    background-color: rgb(108, 0, 208);
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    min-width: 200px;
    width: -webkit-fill-available;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-size: 18px;
    }
    img {
      width: 200px;
      margin: 15px;
      border-radius: 15px;
    }
    .delete-button {
      background-color: rgb(255, 143, 143);
    }
    .delete-button:hover {
      background-color: rgb(255, 0, 0);
      color: rgb(255, 255, 255);
    }
  }
}

.empty-basket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .empty-basket {
    text-align: center;
    font-size: 25px;
  }
}

.message-container {
  margin: 15px;
}

.basket-item-sub-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
